@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("./card.css");
@font-face {
  font-family: "Bouncy";
  src: url("../assets/font/bouncy.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-size: 400% 400%;
  background: linear-gradient(60deg, #0f75db 70%, rgb(84, 58, 183) 100%);
  font-family: "Fira Sans", sans-serif;
  -webkit-animation: animate-background 10s, infinite, ease-in-out;
          animation: animate-background 10s, infinite, ease-in-out;
  min-height: 100vh;
}

header,
nav,
section {
  transition: 1s;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #0f75db;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.loader .loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.loader .loader-container .loader-icon {
  position: relative;
  width: 220px;
  height: 240px;
  overflow: hidden;
  border-radius: 200px;
}
.loader .loader-container .loader-icon img.bottle {
  z-index: 1;
  width: 48%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 18px;
  -webkit-animation: floating 1.75s ease-in-out infinite alternate;
  animation: floating 1.75s ease-in-out infinite alternate;
}
.loader .loader-container .loader-icon img.wave {
  -webkit-animation: wave 2.3s linear infinite;
  animation: wave 2.3s linear infinite;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  position: absolute;
  bottom: 0;
  width: 200%;
}
.loader .loader-container .loader-icon img.wave.delay {
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
}
.loader .loader-container .loader-title {
  text-align: center;
  letter-spacing: 4px;
  color: #ddd;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F6F6;
  height: 220px;
  z-index: 10;
}
.header .header-img {
  width: 560px;
  transition: 1s;
}
.header .header-img:hover {
  transform: scale(1.058);
}

.nav {
  background: linear-gradient(147deg, #F0F6F6 0%, #F0F6F6 74%);
  height: 78px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav .nav-title {
  display: flex;
  align-items: center;
  font-family: "Bouncy";
  font-weight: 200;
  font-size: 40px;
  transition: 400ms;
  text-decoration: none;
  color: #090C08;
}
.nav .nav-title:hover {
  transform: scale(1.058);
}
.nav .nav-left-content,
.nav .nav-center-content,
.nav .nav-right-content {
  display: flex;
  align-items: center;
}
.nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #090C08;
  font-size: 18px;
  width: 150px;
  height: 100%;
  margin: 2px;
  border-radius: 13px;
  transition: transform 400ms;
}
.nav .nav-links:hover {
  background: linear-gradient(180deg, transparent 97%, #FF66B3 3%);
  transform: scale(0.95);
}
.nav .nav-social-media {
  margin: 4px;
}
.nav .nav-social-media img {
  transition: transform 400ms;
  width: 35px;
}
.nav .nav-social-media img:hover {
  transform: scale(0.95);
}
.nav .nav-icons {
  width: 27px;
  margin-right: 5px;
}
.nav .dropdown {
  position: relative;
  display: none;
}
.nav .dropdown button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav .dropdown img {
  width: 45px;
}
.nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  z-index: 1;
  border: 2px #8c8c8c solid;
  border-radius: 17px;
  margin-top: 10px;
  margin-left: -50px;
}
.nav .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}
.nav .dropdown .dropdown-content a img {
  width: 10px;
}
.nav .dropdown .dropdown-content a:hover {
  background-color: #eee;
}

.links-span {
  margin-bottom: 50px;
}

.section-cards {
  margin-top: 4em;
}

.section-map {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
.section-map .map-container {
  width: 1000px;
  height: 600px;
  margin: 0 20px 0 20px;
}
.section-map #map {
  border: 2px #40a2f3 solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.section-map .map-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px #40a2f3 solid;
  border-top: none;
  margin: 0 300px 30px 300px;
  border-radius: 0 0 20px 20px;
  gap: 40px;
  background-color: white;
}
.section-map .map-controls .map-arrows {
  cursor: pointer;
}
.section-map .map-controls .map-location {
  color: black;
  font-size: 30px;
}
.section-map .leaflet-control-attribution {
  display: none;
}

.section-progressbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.section-progressbar .tampometro-counter {
  text-align: center;
  font-size: 42px;
  color: #090C08;
  margin-top: 20px;
  background-color: #F0F6F6;
  margin: 0 140px 0 140px;
  padding: 4px 0 4px 0;
  border-radius: 17px 17px 0 0;
  border: 2px #40a2f3 solid;
  border-bottom: none;
}
.section-progressbar .tampometro-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 560px;
  height: 170px;
  background-color: #F0F6F6;
  color: #090C08;
  border: 2px #40a2f3 solid;
  border-radius: 17px;
  box-shadow: 10px 10px 43px -10px rgba(0, 0, 0, 0.43);
}
.section-progressbar .tampometro-text-container p {
  width: 500px;
  font-size: 17px;
}
.section-progressbar .tampometro-progressbar {
  display: flex;
  align-items: flex-end;
  border: 2px #F0F6F6 solid;
  background-color: rgb(226, 226, 226);
  border-radius: 20px;
  width: 120px;
  height: 350px;
}
.section-progressbar .tampometro-progressbar-fill {
  text-align: center;
  background: linear-gradient(147deg, #FF66B3 0%, #084B83 74%);
  color: #F0F6F6;
  font-size: 30px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contact .form {
  display: flex;
  justify-content: center;
  background-color: #F0F6F6;
  font-size: 15px;
  border: 2px #F0F6F6 solid;
  border-radius: 13px;
  padding: 20px;
}
.section-contact .form-control {
  margin: 10px;
  padding: 10px;
  border: 1px #8c8c8c solid;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  background-color: transparent;
}
.section-contact .form-control:hover {
  border-color: #084B83;
}
.section-contact .form-control:focus {
  outline: none;
  border-color: #40a2f3;
}
.section-contact .form-textarea {
  height: 10rem;
}
.section-contact .button-contact {
  display: flex;
  align-items: center;
}
.section-contact .button-contact .alert {
  display: none;
  margin-left: 20px;
}
.section-contact .pika-button {
  border: 1px #8c8c8c solid;
  background-color: #F0F6F6;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  background-color: #F0F6F6;
  height: 10vh;
}
.title img {
  max-width: 40px;
  margin-right: 10px;
}

.shadow {
  box-shadow: 10px 10px 43px -10px rgba(0, 0, 0, 0.43);
}

footer {
  margin-top: 50px;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.footer .waves-container .waves .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.footer .waves-container .waves .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.footer .waves-container .waves .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.footer .waves-container .waves .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.footer .waves-container .waves .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.footer .footer-content {
  flex-direction: column;
  gap: 15px;
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
.footer .footer-content .socials {
  display: flex;
  gap: 15px;
}
.footer .footer-content .socials a img {
  width: 36px;
}
.footer .footer-content .socials a img:hover {
  filter: invert(30%);
}

.pika-button {
  font-family: inherit;
  display: inline-block;
  padding: 10px;
  margin: 7px;
  position: relative;
  overflow: hidden;
  border: 2px solid #F0F6F6;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  color: #090C08;
}
.pika-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
  height: 150px;
  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.pika-button:hover {
  color: #F0F6F6;
}
.pika-button:hover:before {
  top: -30px;
  left: -30px;
}
.pika-button:active:before {
  background: #FF66B3;
  transition: background 0s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-webkit-keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 100px;
  }
  .header .header-img {
    width: 300px;
  }
  .nav .nav-title {
    display: none;
  }
}
@media (max-width: 900px) {
  .header {
    display: none;
    height: 0;
  }
  .header .header-img {
    display: none;
  }
  .nav .nav-title {
    display: flex;
  }
  .nav .nav-links {
    display: none;
  }
  .nav .nav-social-media {
    display: none;
  }
  .nav .dropdown {
    display: inline-block;
  }
  .section-progressbar .tampometro-counter {
    font-size: 27px;
    margin: 24px 40px 0 40px;
  }
  .section-progressbar .tampometro-progressbar {
    width: 100px;
    height: 280px;
  }
  .section-progressbar .tampometro-progressbar-fill {
    font-size: 24px;
  }
  .section-progressbar .tampometro-text-container {
    width: 250px;
    height: 330px;
  }
  .section-progressbar .tampometro-text-container p {
    width: 200px;
    font-size: 16px;
  }
  .cards {
    flex-wrap: wrap;
    gap: 15px;
  }
  .section-contact .form-control {
    width: 300px;
  }
  .section-map .map-container {
    width: 600px;
  }
  .section-map .map-location {
    white-space: nowrap;
  }
  .section-map #map {
    border-radius: 20px 20px 0 0;
  }
  .section-map .map-controls {
    margin: 0;
    padding: 10px;
  }
  .section-map .leaflet-popup-content-wrapper {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .nav .dropdown .dropdown-content {
    margin-left: -100px;
  }
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .section-contact .form-control {
    width: 275px;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes floating {
  from {
    transform: translate(-50%, 10px);
  }
  to {
    transform: translate(-50%, -10px);
  }
}
@keyframes floating {
  from {
    transform: translate(-50%, 10px);
  }
  to {
    transform: translate(-50%, -10px);
  }
}/*# sourceMappingURL=style.css.map */